google-generativeai
faiss-cpu
langchain
langchain_google_genai
google
langchain_community
Python-IO
flask
flask_cors
pypdf==4.0.1
python-dotenv
gunicorn
numpy==1.24.3
protobuf<4
scikit-learn<1.3
scipy<1.11
typer<0.10.0
tensorflow-intel==2.13.0
typing-extensions<4.6.0
torch==2.0.1
torchtext==0.15.2
xformers==0.0.21



